body{
    /* background: url("/images/Kartik-Aaryan-2.jpg"),rgb(39, 181, 238); */

    background: url("/images/Kartik-Aaryan-2.jpg"),linear-gradient(45deg,blue,hotpink);
    /* background: url("/images/Kartik-Aaryan-2.jpg"),url("/images/ball.jpeg"); */
 
    background-size: cover;
    background-blend-mode: multiply;
    /* background-blend-mode: overlay ; */
    /* background-blend-mode: color ; */
    /* background-blend-mode: hard-light ; */
    /* background-blend-mode: soft-light ; */
    /* background-blend-mode: hue ; */
    /* background-blend-mode:saturation ; */
    /* background-blend-mode: darken ; */
    /* background-blend-mode: exclusion ; */
    /* background-blend-mode:luminosity ; */
    /* background-blend-mode: color-dodge; */
    /* background-blend-mode: inherit; */
    /* background-blend-mode: color-burn; */
    /* background-blend-mode: difference; */
    /* background-blend-mode: screen; */
}