/* h1{
    background-color: darkorchid;
    display: inline;
} */

/* span{
    display: block;
    background-color: violet;
} */
div{
    background-color: rgb(78, 218, 218);
    border: 2px solid black;
    padding: 10px;
    font-size: 18px;
    margin: 5px;
    height: 150px;
    width: 25%;
    text-align: center;
    display:inline-block;
}